@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


li,
a,
button {
  font-family: "Montserrat", san-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
}



header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end;*/ 
  align-items: center;
  padding: 30px 10%;
  background-color: #030033;
  box-shadow: 0px 0px 20px 0;
}

.logo {
  color: #ffffff;
  /*margin-right: auto;*/
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*to change the looks of the navigation change the following style;

1. header{
justify-content: flex-end;
}*/

.logo{
margin-right: auto;
}

p {
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}
h2 {
  

  font-weight: 300;
  color: #444;
  font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h5 {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}*/
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #02b8dd;
}
strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

#hero-image {
  height: 580px;
  padding-top: 1px;
  background: #e8eced url('/assets/images/background1.jpg') no-repeat center;
  background-size: cover;
}

#hero-image h2 {
  margin: 180px 0 40px 0;
}
.button-1 {
  display: block;
  text-align: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 230px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}
.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}


#features ul {
  margin: 80px 0;
}
#features ul li {
  width: 300px;
  padding-top: 140px;
  float: left;
  margin-right: 10px;
  text-align: center;
}
#features ul li.feature-1 {
  background: url('/assets/images/pencil.png') no-repeat center/20% ;
}
#features ul li.feature-2 {
  background: url('/assets/images/pencil.png') no-repeat center/20% ;
}
#features ul li.feature-3 {
  background: url('/assets/images/pencil.png') no-repeat center/20% ;
}

